.container {
  width: 100vw;
  height: 10vh;
  color: #344d67;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #ef9a53;
  position: fixed;
  top: 0;
  z-index: 100;

  .logo {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    color: #6eccaf;
  }

  :nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;

    .link {
      font-size: 1.2em;
      color: #eeeeee;
      transition: 0.3s all ease;

      &:hover {
        text-decoration: underline;
      }
    }

    .activeLink {
      font-size: 1.2em;
      color: #eeeeee;
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;

    .logo {
      scale: 0.8;
    }

    :nth-child(2) {
      gap: 1em;

      .link {
        font-size: 1em;
        color: #eeeeee;
        padding-right: 0.5em;
      }
      .activeLink {
        font-size: 1em;
        padding-right: 0.5em;
      }
    }
  }
}
