.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .title {
    width: 100%;
    height: 20%;
    font-size: 2em;
    color: #181818;
  }

  .cocktails {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
  }
}
