.title {
  text-align: center;
  color: #383838;
  opacity: 0.8;
  text-decoration: underline;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
    margin-top: 1em;
  }
  .loading {
    font-size: 1.5em;
  }
}
